<%- include('./partials/_header.html') %>

<main class="col col--8">
  <main class="col col--8" itemscope="" itemtype="http://schema.org/Blog">
    <article class="margin-bottom--lg article_MiS7" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
      <div class="avatar margin-right--md">
        <a href="https://github.com/lzwdot" target="_blank" rel="noopener noreferrer" class="avatar__photo-link"
          ><img class="avatar__photo avatar__photo_Fymn" src="https://avatars.githubusercontent.com/u/24477920?v=4" alt="lzwdot"
        /></a>
      </div>
      <div class="post_NkRs">
        <h3 class="margin-bottom--xs title_iQHs" itemprop="headline">
          <a itemprop="url" href="/question/2">块状元素 &amp; 内联元素</a>
        </h3>
        <div>
          <span class="avatar__intro avatar__intro_g1xb" itemprop="author" itemscope="" itemtype="https://schema.org/Person"
            ><span class="avatar__name avatar__name_aD5p"
              ><a href="https://github.com/lzwdot" target="_blank" rel="noopener noreferrer" itemprop="url"><span itemprop="name">lzwdot</span></a></span
            ></span
          >
          ·
          <time datetime="2023-03-28T12:26:40.000Z" itemprop="datePublished">2023年3月28日</time> ·
          <ul class="tags_f6bc padding--none margin-left--sm">
            <li class="tag_C2qo">
              <a class="tag_zVej tagRegular_sFm0" href="/question/tags/bug">bug</a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="margin-bottom--lg article_MiS7" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
      <div class="avatar margin-right--md">
        <a href="https://github.com/lzwdot" target="_blank" rel="noopener noreferrer" class="avatar__photo-link"
          ><img class="avatar__photo avatar__photo_Fymn" src="https://avatars.githubusercontent.com/u/24477920?v=4" alt="lzwdot"
        /></a>
      </div>
      <div class="post_NkRs">
        <h3 class="margin-bottom--xs title_iQHs" itemprop="headline">
          <a itemprop="url" href="/question/1">如何理解 HTML 语义化？</a>
        </h3>
        <div>
          <span class="avatar__intro avatar__intro_g1xb" itemprop="author" itemscope="" itemtype="https://schema.org/Person"
            ><span class="avatar__name avatar__name_aD5p"
              ><a href="https://github.com/lzwdot" target="_blank" rel="noopener noreferrer" itemprop="url"><span itemprop="name">lzwdot</span></a></span
            ></span
          >
          ·
          <time datetime="2023-03-28T12:17:56.000Z" itemprop="datePublished">2023年3月28日</time> ·
          <ul class="tags_f6bc padding--none margin-left--sm">
            <li class="tag_C2qo">
              <a class="tag_zVej tagRegular_sFm0" href="/question/tags/question">question</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="replys_vE1L">
        <span itemprop="interactionCount" class="badge badge--secondary">1</span>
      </div>
    </article>
    <nav class="pagination-nav" aria-label="博文列表分页导航"></nav>
  </main>
</main>

<%- include('./partials/_sidebar.html') %> <%- include('./partials/_footer.html') %>
