<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="<%=baseUrl%>/assets/css/vendor.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/assets/css/main.css" />
  </head>

  <body>
    <header class="border-bottom">
      <div class="container py-2">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="#" class="nav-link px-2 link-secondary">Overview</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Customers</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Products</a>
            </li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>

          <div class="dropdown text-end">
            <% if(user){ %>
            <a
              href="#"
              class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="<%=user.avatar || ''  %>"
                alt="<%=user.name || ''  %>"
                width="32"
                height="32"
                class="rounded-circle"
              />
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="/auth/signout"><%=__('Sign out')%></a></li>
            </ul>
            <% }else{ %>
              <a class="dropdown-item" href="/auth/signin"><%=__('Sign in')%></a>
            <% } %>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container py-2">